html, body {margin: 10; height: 100%;
	font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 6pt;
    }

.slogan{
	font-size: 8pt;
	color: #304269;
}

.logo{
	margin-bottom: 20px;
}

h3{
	color: #304269;
}

table{
    margin-top: 40px;
    border-collapse: collapse;
	   font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
  }

.border {
    padding: 4px 8px;
    text-align: left;
    border: 1px solid #000000;
}

.noborder{
  background: #FFFFFF;
}

th{
    background: #969696;
    text-align: center;
}

.black{
  background: #000000;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.color1{
  background: #8DB4E2;
}

.color2{
  background: #D9D9D9;
}

.color3{
  background: #FF0000;
}

.color4{
  background: #FFC000;
}

.color5{
  background: #FFFF00;
}

.color6{
  background: #92D050;
}


.clear{
    background: #FFFFFF;
}

.page {
	page-break-after:always;
	position: absolute;
}

.O{
	background: ##C0C0C0;
}

.R{
	background: #FFC000;
}

.pagenum:before { content: counter(page); }
      table { page-break-after: always; }