html, body {margin: 0; height: 100%; overflow: hidden}

#left_menu{
	width: 20rem;
	padding: 0;
	float: left;
	min-height: 100vh;
	border: 10px 0 0 0;
	border-radius: 0;
	background-color:  #383E4B;

}

.logotitle{
	background: #1E8FC6!important;
	height: 5vh!important;
}

#left_menu_div{
	width: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	float: left;
	min-height: 100vh;
	border-radius: 0;
	background-color: #383E4B;
}

#fixed_top{
	border-radius: 0;
	height: 5vh;
	background: #36A9E1!important;
}

#chat_layout{
    position: absolute;
    bottom: 0;
	background: #F5F5F5;
	right: 60px;
	z-index: 5;
	border: 2px solid #F5F5F5;
	border: 0;
	border-top: 4px solid #36A9E1;
	width: 25rem;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(48,66,105,1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(48,66,105,1);
	box-shadow: 0px 0px 3px 0px rgba(48,66,105,1);
}

#chat_title{
	background: #383E4B;
	padding: 10px;
	font-weight: 700;
	color: white;
	cursor: pointer;
}

#chat_text{
	background: #91BED4;
	padding: 5px;
	color: #304269;
}

#messages{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #D9E8F5;
	height: 50vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui.comments .comment_others {
    padding: 0!important;
    float: right;
    margin: 1px;
}

.ui.comments .comment_auth {
    padding: 0!important;
    float: left;
    margin: 1px;
}

.ui.comments .comment_auth .text_auth{
	color: white !important;
	font-size: 10pt;
	background: #36A9E1 !important;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	display: inline-block;
	padding: 6px;
	margin: 0 !important;
	max-width: 20rem;
}

.ui.comments .comment_others .text_others{
	color: #304269 !important;
	font-size: 10pt;
	background: #D6DDE7 !important;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	display: inline-block;
	padding: 6px;
	margin: 0 !important;
	float: right;
	max-width: 20rem;
}

.ui.comments .comment_auth .author_auth{
	font-size: 8pt;
	font-weight: normal!important;
	display: inline-block;
	margin-left: .5em;
	color: rgba(0,0,0,.4);
}

.ui.comments .comment_others .author_others{
	font-size: 8pt;
	font-weight: normal!important;
	display: inline-block;
	margin-left: .5em;
	color: rgba(0,0,0,.4);
	float: right;
}

.ui.comments .comment_auth .metadata_auth{
	display: inline-block;
	margin-left: .5em;
	color: rgba(0,0,0,.4);
	font-size: .875em;
}

.ui.comments .comment_others .metadata_others{
	display: inline-block;
	margin-left: .5em;
	color: rgba(0,0,0,.4);
	font-size: .875em;
	float: right;
}

/* Doc MAN Title + ISA TITLE */ 
.ui.menu.top_menu{
	background-color: #D6DDE7 !important;
	border-radius: 0px;
	border-bottom: 1px solid rgba(34,36,38,.15);
	height: 6vh;
	border-left: 0;
	z-index: 2;
	position: relative;
}

#doc_man_menu{
	height: inherit;
	background-color: #D9E8F5;
	float: left;
	position: fixed;
	z-index: 1;
}

#ISA_menu{
	height: 100vh;
	background-color: #D9E8F5;
	float: left;
	position: fixed;
	z-index: 2;
}

.ui.list > .item a.header{
	color: #D9E8F5!important;
}

#hide_menu, #show_menu{
	color: #D9E8F5;
}

.ui.yellow.button, .ui.yellow.label{
	background: #1E8FC6!important;
}

.selectedProj{
	background: #2D323D!important;
	color: white!important;
}

.selectedProjTop{
	background: #219FDD!important;
	color: white!important;
}

.item.head_menu_title{
	background-color: white;
}

.ui.menu{
	margin: 0;
}

.ui.menu .item{
	color: #304269;
}

#doc_man{
	height: 43vh;
	overflow-x: hidden;
	overflow-y: scroll;
	resize: vertical;
}

#ISA{
	height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.showen{
	height: 83vh!important;
}


#doc_man_title{
	width: 15rem;
}

#doc_man_content{
	padding: 15px;
	margin-left : 15rem;
}

#admin_content{
	padding: 15px;
	margin-left : 15rem;
	height: 89vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#ISA_content{
	padding: 15px;
	margin-left : 15rem;
}


#ISA_title{
	width: 15rem;
}

.ui.secondary.vertical.pointing.menu{
	border-right-width: 1px;
}

.ui.vertical.menu > .item:first-child {
    border-radius: 0;
}


#upload_input{
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
  	width: 50%;
}

#files_reader{
	padding: 5px;
	background: rgba(224, 225, 226, 0.47);
	resize: auto;
	text-align: center;
}

#document_title{
		padding: 5px;

	background: rgba(224, 225, 226, 0.47);
}

#image{
	max-height: 100%;
}

.ui.logo.icon.image{
	float: right;
}

.hidden{
       display:none;
    }

.iceBG{
	background: aliceblue;
}

.lightYellow{
	background: #FCFAD0;
}

.darkYellow{
	background: #B8B698;
}


.textdesc {
  opacity: 0;
  visibility: hidden;
}
.text:hover ~ .textdesc {
  opacity: 1;
  visibility: visible;
}

#documentsNotificationsPopUp{
	font-size: 9pt;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 3;
}

#findingsNotificationsPopUp{
	font-size: 9pt;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
		z-index: 3;

}

#reviewsNotificationsPopUp{
	font-size: 9pt;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
		z-index: 3;

}



/******************************************** THEME **********************************/
/*#left_menu{
	width: 20rem;
	padding: 0;
	float: left;
	min-height: 100vh;
	border: 10px 0 0 0;
	border-radius: 0;
	background-color: #464646;
}

#left_menu_div{
	width: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	float: left;
	min-height: 100vh;
	border-radius: 0;
	background-color: #464646;

}

.ui.menu.top_menu{
	background-color: #B8B698 !important;
	border-radius: 0px;
	border-bottom: 1px solid rgba(34,36,38,.15);
	height: 6vh;
	border-left: 0;
}

.item.head_menu_title{
	background-color: white;
}

.ui.menu{
	margin: 0;
}

.ui.menu .item{
	color: rgba(0,0,0,.6);
}

#doc_man{
	height: 43vh;
	overflow-x: hidden;
	overflow-y: scroll;
	resize: vertical;
}

#ISA{
	height: 40vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.showen{
	height: 83vh!important;
}


#doc_man_title{
	width: 15rem;
}

#doc_man_content{
	padding: 15px;
}

#doc_man_menu{
	height: inherit;
	background-color: #FCFAD0;
	float: left;
}

#ISA_title{
	width: 15rem;
}

#ISA_menu{
	height: inherit;
	background-color: #FCFAD0;
	float: left;
}

.ui.secondary.vertical.pointing.menu{
	border-right-width: 1px;
}

#fixed_top{
	border-radius: 0;
	margin-bottom: 1px;
	height: 4.6vh;
	background: #5B605F;
}

#upload_input{
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
  	width: 50%;
}

#files_reader{
	padding: 5px;
	background: rgba(224, 225, 226, 0.47);
	resize: auto;
	text-align: center;
}

#image{
	max-height: 100%;
}

.ui.list > .item a.header{
	color: #FBBD08!important;
}

#hide_menu, #show_menu{
	color: #FBBD08;
}

.ui.logo.icon.image{
	float: right;
}

.ui.yellow.button, .ui.yellow.label{
	color: rgba(0,0,0,.6)!important;
}

.hidden{
       display:none;
    }

.iceBG{
	background: aliceblue;
}

.lightYellow{
	background: #FCFAD0;
}

.darkYellow{
	background: #B8B698;
}

.selectedProj{
	background: #FBBD08!important;
	color: rgba(0,0,0,.6)!important;
}
*/
/**************************************** THEME 2 ***********************************************/
/*#left_menu{
	width: 20rem;
	padding: 0;
	float: left;
	min-height: 100vh;
	border: 10px 0 0 0;
	border-radius: 0;
	background-color: #1E1E20;
}

#left_menu_div{
	width: 4rem;
	padding: 0;
	float: left;
	height: 100vh;
	border-radius: 0;
}

.ui.menu.top_menu{
	background-color: #FBBD08 !important;
	border-radius: 0px;
	border-bottom: 1px solid rgba(34,36,38,.15);
	height: 6vh;
	border-left: 0;
}

.item.head_menu_title{
	background-color: white;
}

.ui.menu{
	margin: 0;
}

.ui.menu .item{
	color: rgba(0,0,0,.6);
}

#doc_man{
	height: 43vh;
	overflow-x: hidden;
	overflow-y: scroll;
	resize: vertical;
}

#ISA{
	height: 40vh!important;
	overflow-y: scroll;
	overflow-x: hidden;
}

.showen{
	height: 83vh!important;
}


#doc_man_title{
	width: 15rem;
}

#doc_man_content{
	padding: 15px;
}

#doc_man_menu{
	height: inherit;
	background-color: rgba(224, 225, 226, 0.47);
	float: left;
}

#ISA_title{
	width: 15rem;
}

#ISA_menu{
	height: inherit;
	background-color: rgba(224, 225, 226, 0.47);
	float: left;
}

.ui.secondary.vertical.pointing.menu{
	border-right-width: 1px;
}

#fixed_top{
	border-radius: 0;
	margin-bottom: 1px;
	height: 4.6vh;
	background: #2A2C2B;
}

#upload_input{
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
  	width: 50%;
}

#files_reader{
	padding: 5px;
	background: rgba(224, 225, 226, 0.47);
	resize: auto;
	text-align: center;
}

#image{
	max-height: 100%;
}

.ui.list > .item a.header{
	color: #FBBD08!important;
}

#hide_menu, #show_menu{
	color: #FBBD08;
}

.ui.logo.icon.image{
	float: right;
}

.ui.yellow.button, .ui.yellow.label{
	color: rgba(0,0,0,.6)!important;
}*/